   button {
        background-color: rgb(0, 188, 216);
        color: aliceblue;
        border: none;
        border-radius: 10px;
        width: 50px;
        height: 20px;
        padding: 1px;
        margin-left: 100px;
    }
    .square {
  height: 25px;
  width: 10px;
  background-color: #00aac4;
  display: inline-block;
}

button:hover {
  background-color: rgb(0, 108, 128);
}

h1 {
  text-shadow: 5px 0px #000000;
  text-align: center;
  color: #e5ff00;
  stroke: #ffffff;
  
  
}

h2 {text-align: left;
text-shadow: 2px 2px;}
h4 {text-align: left;}

.Uber {
  color: aliceblue;
  background-color: black;
  text-align: center;
  float: right;
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  overflow: hidden;
  color: blue;
}

.nab ul{
  margin: 0px;
  list-style-type: none;
  text-align: center;
  padding: 0px;
  background-color: black;
  color: aliceblue;
  overflow: hidden;
}

.nab a {
  color: rgb(255, 255, 255);
  text-align: center;
  display: block;
  text-decoration: none;
  padding: 18px;
}
.nab a:hover {
  background-color: rgb(44, 44, 44);
}

.nav li {
  float: left;

 
}

body {
  background-image: url('ssosigmas.png') ;
}

.Usss {
  color: #1900ff;
  text-shadow: #ffffff;
  text-align: center;
}

.piyan {
  text-shadow: 2px 0px #ffffff;
  color: #000000;
}

